
<h2 class='color-green'>Welcome to <%= @user.username %> profile</h2><br>

<h3 class='color-white'>Date registered: <%= @user.created_at%></h3><br>

<h2 class='color-white'>Confession's submitted</h3><br>
<% Post.where(user_id: @user.id).each do |post| %>
    <ol>
        <li>
         <p class='color-white'><%= link_to post.title, post %> <i class="far fa-clock color-white"></i> <%= post.created_at.strftime("%Y/%m/%d") %></p>
        </li>
    </ol>
<% end %>
     
<h3 class='color-white'>Comments and reactions</h3><br>
<% Comment.where(user_id: @user.id).each do |comment| %>
    <ol>
        <li>
         <p class='color-white'><%= link_to comment.content, post_path %>  <i class="far fa-clock"></i> <%= comment.created_at.strftime("%Y/%m/%d") %></p>  
         <p class='color-white'>By:<%= comment.user.username %></p>
        </li>
    </ol>
<% end %>