<div class ="border py-3 mt-3 mx-auto sign-in" style="width: 50%;">
<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<h3 class='color-green'>Create a new confession </h3><br >
  <div class="field">
    <%= form.label :title, class:'color-white' %><br >
    <%= form.text_field :title, class:"text-width"%>
  </div>

  <div class="field">
    <%= form.label :content, class:'color-white' %><br >
    <%= form.text_area :content, class:'text-width' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>