<div class='pb-5'>
<p id="notice"><%= notice %></p>

<h3 class='color-white'>
  <strong>Title:</strong>
  <%= @post.title %>
</h3>

<p class='color-white'>
  <strong>Content:</strong>
  <%= @post.content %>
</p>
<p class="color-white">Posted by <%="#{@post.user.username}"%> <%= like_or_dislike_btn(@post) %><%= like_count(@post) %> | Comments (<%= comment_count(@post)%>) | <i class="far fa-clock"></i> <%= @post.created_at.strftime("%Y/%m/%d") %></p>


<% if current_user == @post.user %>
  <%= link_to 'Edit', edit_post_path(@post), class:'btn btn-dark' %> |
  <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-dark' %> |
  <%= link_to 'Back', posts_path, class:'btn btn-dark' %><br>

<% end %>



<% @post.comments.each do |comment| %><br>

  <p class='color-white border rounded border-dark'>
    <strong>Comment:</strong>
    <%= comment.content %>
  </p>
  <p class='color-white'>
    <strong>Comment by:</strong>
    <%= comment.user.username %>
  </p>
  <p>========================================================================</p>
<% end %>

<br><h2 class='color-white'>Add a comment:</h2>
<%= form_with model: [ @post, @post.comments.build ] do |form| %>
  
  <p>
    <%= form.label :content, class:'color-white' %><br>
    <%= form.text_area :content %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
</div>
