<!DOCTYPE html>
<html>
  <head>
    <title>ConfessionBox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/bfb663eab2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>

  <body>
    <div class="content container-fluid">
        <nav class="navbar ">
          <form class="container-fluid justify-content-start">
            <button class="nav-pills" type="button"> </button>
            <button class="btn btn-outline-success" type="button"></button>
            <button class="btn btn-outline-success" type="button"></button>
            <button class="btn btn-outline-success" type="button"><%= navbar_button_sign_out %><%= navbar_button_log_in %></button>
          </form>
        </nav>

        <ul class="nav nav-pills">
          <li class="nav-item">
            <p class="nav-link active" aria-current="page"><%= home %></p>
          </li>
          <li class="nav-item">
            <p class="nav-link">User: <%= signed_in_as %></p>
          </li>
          <li class="nav-item">
            <p class="nav-link"><%= new_post_button %></p>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      <div class="header">
        <div class="title">
          <h1>The Confesssion Box</h1>
           <h3>Since 1576</h3>
        </div>
      </div>
    
          
               

          <%= yield %>

    </div>
  </body>
</html>
