<!DOCTYPE html>
<html>
  <head>
    <title>ConfessionBox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/bfb663eab2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>

  <body>
    <div class="content">
      <div class="header">
        <div class="title">
          <h1>The Confesssion Box</h1>
           <h3>Since 1576</h3>
        </div>
      </div>
       <%= home %> <%= signed_in_as %> <%= new_post_button %>  <%= navbar_button_log_in %> <%= navbar_button_sign_out %> 
               

          <%= yield %>

    </div>
  </body>
</html>
