<!DOCTYPE html>
<html>
  <head>
    <title>ConfessionBox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/bfb663eab2.js" crossorigin="anonymous"></script>
  </head>

  <body id="whole">
      <div class="content">
      <div id="header">
        <div class="title">
          <h1>The Confession Box</h1>
          <h3>Since 1576.</h3>
        </div>
      </div>
      <div id="main">
        <div class="center">
          <%= yield %>
        </div>
        <div class="leftmenu">
          <div class="nav">
            <ul>
              <li>
                <%= home %>
              </li>
              <li>
                <div>
                  <%= navbar_button_sign_out %>
                  <%= navbar_button_log_in %>
                </div>
              </li>
              <li>
                <div>
                  <p>Signed in as:</p>
                  <%= signed_in_as %>
                </div>
              </li>
              <li>
                <%= new_post_button %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="prefooter">
        <div class="particles">
          <h2>Site Statistics/h2>
          <img src="images/arrow.gif" alt="" /> <a href="#">Integer euismod ante non diam adipiscing</a> <br />
          <img src="images/arrow.gif" alt="" /> <a href="#">consectetuer adipiscing elit dolor sit amet</a> <br />
          <img src="images/arrow.gif" alt="" /> <a href="#">Lorem ipsum dolor sit amet ipsum dolor</a><br />
          <img src="images/arrow.gif" alt="" /> <a href="#">Integer euismod ante non adipiscing elit </a><br />
          <img src="images/arrow.gif" alt="" /> <a href="#">Lorem ipsum dolor sit amet euismod ante</a><br />
        </div>
      </div>
      <div id="footer">
        <div class="padding"> Copyright &copy; 2021 The Confession Box | Design: David Herreman</div>
    </div>

  </body>
</html>
