<!DOCTYPE html>
<html>
  <head>
    <title>ConfessionBox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/bfb663eab2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>

  <body>
    <div class="content container-fluid">
         <div class = "d-flex justify-content-between mt-2 navbar">
          <div>
               <div class="color-green">
                <h1 class="header">The Confesssion Box</h1>
              </div>
          </div>

          <div>
            <form class="d-flex nav justify-content-end mt-2">
              <span class="badge rounded-pill bg-secondary px-3 py-2"><%= home %></span>
              <span class="badge rounded-pill bg-secondary px-3 py-2"><%= signed_in_as %></span>
               <span class="badge rounded-pill bg-secondary px-3 py-2"><%= new_post_button %></span>
              <span class="badge rounded-pill bg-secondary px-3 py-2"><%= navbar_button_sign_out %><%= navbar_button_log_in %></span>
            </form>
          </div>
        </div>
        
         
         
     
    
          
               

          <%= yield %>

    </div>
    <footer class='navbar footer d-flex justify-content-center'>
    
      <i class="far fa-copyright color-white pb-3 mx-2"></i>
      <p class='color-white py-5'>Copyright 2021, The Confession Box. All rights reserved.</p>
    
    </footer>
  </body>
</html>
