<!DOCTYPE html>
<html>
  <head>
    <title>ConfessionBox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/bfb663eab2.js" crossorigin="anonymous"></script>
  </head>

  <body>
      

       





  <div class="content">
  <div id="header">
    <div class="title">
      <h1><%= link_to "The Confession Box", root_path %></h1>
      <h3>Since 1576.</h3>
    </div>
  </div>
  <div id="main">
    <div class="center">
       <%= yield %>
    </div>
    <div class="leftmenu">
      <div class="nav">
        <ul>
          <li>
            <%= home %>
          </li>
          <li>
            <div>
              <%= navbar_button_sign_out %>
              <%= navbar_button_log_in %>
            </div>
          </li>
          <li>
            <div>
              <p>Signed in as:</p>
              <%= signed_in_as %>
            </div>
          </li>
          <li>
            <%= new_post_button %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="prefooter">
   
  </div>
  <div id="footer">
    <div class="padding"> Copyright &copy; 2021 The Confession Box | Design: David Herreman
  </div>
</div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>
